

.cancer-detail {
  background-color: var(--background-color);
  color: var(--text-color);
  font-family: 'Arial', sans-serif;
  max-width: 900px;
  margin: 0 auto;
}

h2 {
  text-align: center;
  font-size: 24px;
  color: #2c3e50;
}

.upload-section {
  margin-bottom: 30px;
}

.alert-card p{
  color: black;
}

.upload-section input {
  width: 100%;
  padding: 10px;
  margin-top: 10px;
  border: 2px solid #ccc;
  border-radius: 5px;
  font-size: 14px;
}

.heading-upload {
  font-weight: bold;
}

.begin-analysis {
  background-color: var(--primary-color);
  color: white;
  padding: 15px 20px;
  border: none;
  border-radius: 5px;
  font-size: 18px;
  cursor: pointer;
  width: 100%;
}

.begin-analysis:hover {
  background-color: var(--secondary-color);
}

.alert-card {
  padding: 20px;
  margin-top: 20px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  background-color: var(--card-background);
}

.alert-normal {
  background-color: #d4edda;
  color: #155724;
  border: 1px solid #c3e6cb;
}

.alert-benign {
  background-color: #fff3cd;
  color: #856404;
  border: 1px solid #ffeeba;
}

.alert-malignant {
  background-color: #f8d7da;
  color: #721c24;
  border: 1px solid #f5c6cb;
}

.alert-warning {
  background-color: #fff3cd;
  color: #856404;
}

ul {
  list-style-type: disc;
  margin-left: 20px;
}

.appointment-btn {
  background-color: var(--secondary-color);
  color: white;
  padding: 10px 20px;
  cursor: pointer;
  border-radius: 5px;
  font-size: 16px;
  width: 100%;
  margin-top: 20px;
}

.appointment-btn:hover {
  background-color: var(--primary-color);
}

.scan-images {
  margin-top: 20px;
}

.scan-images img {
  width: 100%;
  max-width: 400px;
  border-radius: 8px;
}

.loading-container {
  text-align: center;
  margin-top: 20px;
}

.loading-spinner {
  border: 4px solid #f3f3f3;
  border-top: 4px solid #3498db;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  animation: spin 2s linear infinite;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

.error-message {
  color: red;
  font-size: 16px;
  margin-top: 20px;
}


.alert-malignant-pro-b {
  background-color: #f5c6cb; 
  border: 1px solid #e03131; 
  color: #721c24;
}

.alert-malignant-pro-b h3 {
  color: #721c24;
}

.alert-malignant-pro-b p {
  color: #721c24;
}

.alert-malignant-pre-b {
  background-color: #f0e5d8; 
  border: 1px solid #e67e22; 
  color: #8e5a3c; 
}

.alert-malignant-pre-b h3 {
  color: #8e5a3c;
}

.alert-malignant-pre-b p {
  color: #8e5a3c;
}

.alert-malignant-early-pre-b {
  background-color: #d1ecf1; 
  border: 1px solid #5bc0de; 
  color: #0c5460; 
}

.alert-malignant-early-pre-b h3 {
  color: #0c5460;
}

.alert-malignant-early-pre-b p {
  color: #0c5460;
}
